<nav>
  <div class="nav-wrapper">
    <form>
      <div class="input-field">
        <input name= "search" id="search" type="search" [(ngModel)] = "mySearch" (ngModelChange) = "fuzzySearch($event)" required/>
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
      </div>
    </form>
  </div>
</nav>

<ul class="collection">
  <li *ngFor="let transaction of transactions" class="collection-item avatar">
      <i class="material-icons circle blue">payment</i>
    <p><b>Credit Card:</b> **** **** **** {{transaction.card_last_four}}<br>
       <b>Amount:</b> ${{transaction.amount}}<br>
       <b>Date:</b> {{transaction.date}}<br>
    </p>
</li>
</ul>